@font-face {
    font-family: 'Rubik-Bold';
    src: url('Rubik-Bold.ttf');
}

*{
    padding: 0;
    margin: 0;

}

body{
  height: 700px;
}

#navbar {
  overflow: hidden;
  transition: 0.4s;
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 99;
  mix-blend-mode:lighten;
  opacity: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-decoration: none;
}


  

  .topnav a {
    width: 100%;
    float: left;
    display: block;

    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Rubik-Bold';
    height: 40px;
    padding: 14px;
    padding-top: 15px;
  }

    .homenav{
      color: #161616;
    }

/*     .homenav:hover{
      color: white;
      background-color: #161616;
      transition: 1s;
    } */


  .topnav a:hover {
    background-color: white;
    color: #222222;
    height: 50%;
/*     border-radius: 0px 0px 15px 15px; */
  }


@media screen and (max-width:720px) {
    #home:hover{
      height: 50px;
    }
    #project:hover{
      height: 50px;
    }
    #contact:hover{
      height: 50px;
    }
    #about:hover{
      height: 50px;
    }

}

  .topnav a:not(:hover){
      transition: 2s;
  }
  

  .topnav a.active {
    background-color: #222222;
    color: white;
    transition: 1s;
  }



.container{
    height: 81px;
    background: #0000;
    background-position:center;
}

.colornav{
  background:#222222;
  background-position:top;
  border: 1px white solid;
}



#home{
  color:#222222;
  }

#project{

color:rgb(255, 255, 255);
}

#contact{
color:rgb(255, 255, 255);
}

#about{
  
color:rgb(255, 255, 255);
}

#home:hover{
  background-position:right;
    color: #222222;
    border:#222222 1px solid;
        transition: 1s;
    padding-top: 250px;
    mix-blend-mode:lighten;
}

#project:hover{
  background-position:right;
    color: #222222;
    border:#222222 1px solid;
        transition: 1s;
    padding-top: 250px;
}

#contact:hover{
  background-position:left;
  color: #222222;
  border:#222222 1px solid;
      transition: 1s;
    padding-top: 250px;
}

#about:hover{
  background-position:bottom;
  color: #222222;
  border:#222222 1px solid;
      transition: 1s;
    padding-top: 250px;
    mix-blend-mode:lighten;
}


html{
  cursor:crosshair;
}

a:after {
  content: '';                                                 
  position: absolute;                                                 
  width: 0;                                                 
  height: 1px;                                                 
  display: block;                                                 
  margin-top: 0px;                                                 
  left: 0%;                                                 
  background: #222222;                                                 
  transition: 2s ease;                                                 
}

a:hover:after{
  width: 80%;
  left: 0%;
  background: #222222;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    margin-top: 10vh;
}


.titles{
    font-family: 'Rubik-Bold';
    font-size: 30px;
    box-shadow: #161616 2px 2px 2px;
    animation: titleslide 2s ease-in-out;
    margin-left: 10vw;
}



.wrappersec{
    display: grid;
    grid-template-columns: 638px 1fr 0.5fr;
}

.sec{
    height: 200px;
}

.secleft{
    background: #222222;
    height: 200px;
    box-shadow: #000000 2px 2px 2px;
    animation: slide 1s ease-in;

}

.secwhite{
    font-family: 'Rubik-Bold';
    margin: 30px;
    animation: slidetext 2s ease-in-out;
}





.titles, .secleft, .topnav{
  animation: contactslider 2s ease;
}


@keyframes contactslider {
  0%{
    margin-left: -1000px;
  }100%{
    margin-left: none;
  }
}


/* *{
  border: 1px red solid;
} */