@font-face {
    font-family: 'rubik-bold';
    src: url('Rubik-Bold.ttf');
}

@font-face {
  font-family: 'square';
  src: url('squarethings2.ttf');
}




.wrapper{
    display: grid;
    grid-template-columns: 200px 2fr 200px;
    margin-top: -10px;
    z-index: 1;
    }
    
    
    .inwrapb {
    
      -moz-transform:    scaleX(-1); /* Gecko */
      -o-transform:      scaleX(-1); /* Opera */
      -webkit-transform: scaleX(-1); /* Webkit */
      transform:         scaleX(-1); /* Standard */
      filter: FlipH;                 /* IE 6/7/8 */
    
    }
    
    
    .anim{
      background: #222222;
      height: 8px;
      width: 30vw;
      margin-left: -5vw;

    }

    #container_title{
        display: grid;
        grid-template-columns: 1fr;
    }


    #title{
        font-size: 120px;
        font-family: 'rubik-bold';
        margin-top: 40vh;
    }

    
    

    
    
    .a{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .b{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .c{
      animation: move 7s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .d{
      animation: move 7.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .e{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
      
    }
    .f{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
      
    }
    .g{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
      
    }
    .h{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
      
    }
    .i{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .j{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .k{
      animation: move 7s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .l{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .m{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .n{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .o{
      animation: move 7s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .p{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .q{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .r{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .s{
      animation: move 6s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }
    .t{
      animation: move 6.5s  ease-in-out;
      transform: rotate(45deg);
      box-shadow: 2px 2px 2px 2px white;
       
    }

@keyframes move {
  0%{
    width: 64vw;

  }25%{
    background-image: linear-gradient(#222222, white, #222222, white, #222222, white, #222222, white, #222222, white, #222222, white);
  }50%{
    background-image: linear-gradient(white, #222222, white, #222222, white, #222222, white, #222222, white, #222222, white, #222222, white, #222222, white, #222222);

  }75%{
    transition: 8s;

  }100%{

  }
}



/*     
  @keyframes move {
      0%
      {
        max-width: 1vw;
        height: 1px;
      }
      2%
      {
        max-width: 2vw;
      }
      6%{
        max-width: 3vw;
      }
      12%
      {
        max-width: 4vw;
      }
      16%
      {
        max-width: 5px;
        height: 5px;
        border-radius: 100%;
        box-shadow: white 1px 1px 1px;
      }
      20%
      {
        max-width: 6vw;
      }
      22%{
        max-width: 7vw;
      }
      23%{
        max-width: 8vw;
      }
      25%
      { 
        max-width: 9vw;
        overflow-y: hidden;
      }
      28%{
        max-width: 10vw;
      }
      32%{
        max-width: 11vw;
        margin-left: 0vw;
      }
      34%{
        max-width: 12vw;
      }
      36%{
        max-width: 13vw;
      }
      39%{
        max-width: 14vw;

      }41%{
        max-width: 15vw;
      }43%{
        max-width: 16vw;
      }44%{
        max-width: 17vw;
      }45%{
        max-width: 18vw;
      }46%{
        max-width: 19vw;
      }48%{
        max-width: 20vw;
      }50%{
        max-width: 20vw;
        transform: rotate(18deg);
        box-shadow: white 2px 2px 2px 2px;
      }
      55%
      {
        max-width: 20vw;
      }
      60%
      {
        max-width: 20vw;
      }
      65%{
        max-width: 20vw;
      }
      70%
      {
        max-width: 20vw;
      }
      72%
      {
        max-width: 20vw;

      }
      74%
      {
        max-width: 20vw;
      }
      76%{
        max-width: 20vw;
      }
      77%{
        max-width: 20vw;
      }
      79%
      { 
        max-width: 20vw;
      }
      80%{
        max-width: 20vw;
      }
      82%{
        max-width: 20vw;
      }
      84%{
        max-width: 20vw;
      }
      86%{
        max-width: 20vw;
      }
      88%{
        max-width: 1vw;
        height: 1px;
      }90%{
        max-width: 20vw;
      }92%{
        max-width: 20vw;
      }93%{
        max-width: 20vw;
      }95%{
        max-width: 20vw;
      }98%{
        max-width: 20vw;
      
      }100%{
        max-width: 20vw;
        transform-style:preserve-3d;
        animation-fill-mode: forwards;
        animation-play-state: paused;
      }
    } */



    

.animletters{
  margin-top: 5rem;
}

    span {
      display: inline-block;
    }


/* animation des span PORTFOLIO */

html {
  text-align: center;
}

#letters {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #222222;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-size: 120px;
}

.br-mobile{
  display: none;
}

@media screen and (max-width: 720px) {
  .mobile{
    display: none;
  }
}


@media screen and (max-width: 720px) {
  #portfolio{
    max-width: auto;
    display: grid;
  }
  #letters{
    padding: 20px;
    font-size: 20px;
    margin-top: 10vh;
  }
  .name{
    padding: 20px;
  }
  .br-mobile{
    display: block !important;
  }
}

@media screen and (max-width:720px) {
  .inwrapa, .inwrapb{
    display: none;
  }
  .wrapper{
    grid-template-columns: 1fr;
  }
  .bloc {
    display: none;
  }
}

.br{
  display: none;
}

#portfolio{
  margin-top: 15%;
  font-weight: 400;
  font-family: 'Rubik-Bold';
  box-sizing: border-box;
  letter-spacing: 6px;
  margin: 0;
  line-height: 1.2;
}

.sub-portfolio{
  font-size: 40px !important;
}


a span {
  font-size: 24px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
a span:nth-child(0n) {
  transition-delay: 0ms;
}
a span:nth-child(0n):after {
  transition-delay: 0ms;
}
a span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(3n) {
  transition-delay: 250ms;
}
a span:nth-child(3n):after {
  transition-delay: 250ms;
}
a span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -1%;
  max-width: 102%;
  height: 2em;
  background: #222222;
  transform-origin: top center;
  transform: scaley(0.1);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
a:hover span {
  transform: translateY(-1em);
}
a:hover span:after {
  transform: scaleY(1);
}
a:active span {
  transform: translateY(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
a:active span:after {
  transform: scaleY(0.5);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}/*# sourceMappingURL=animtitle.css.map */


.about p{
text-align: left;

}

.whitespace{
  height: 30vh;
}

.animation-element {
  opacity: 0;
  position: relative;

}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(20vw, 0vw, 0px);
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
  width: 47%;
  margin: 0% 0% 3% 1.5%;
  padding: 15px;
}


.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 48.5%;
  margin: 0% 0% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3.0% 0%;
}


.line{
  height: 0.2vw;
  width: 10vw;
  background: #222222;
  left: 14vw;
}

a:hover::after{
  height: 2px;
  width: 30px;
  background: #000;
}

/* *{border:1px red solid;} */