@font-face {
    font-family: 'rubik-bold';
    src: url('Rubik-Bold.ttf');
}

@font-face {
  font-family: 'square';
  src: url('squarethings2.ttf');
}




.wrapper{
    display: grid;
    grid-template-columns: 200px 2fr 200px;
    margin-top: -10px;
    z-index: 1;
    }
    
    
    .inwrapb {
    
      -moz-transform:    scaleX(-1); /* Gecko */
      -o-transform:      scaleX(-1); /* Opera */
      -webkit-transform: scaleX(-1); /* Webkit */
      transform:         scaleX(-1); /* Standard */
      filter: FlipH;                 /* IE 6/7/8 */
    
    }
    
    
    .anim{
      background: #222222;
      height: 8px;

    }

    #container_title{
        display: grid;
        grid-template-columns: 1fr;
    }


    #title{
        font-size: 120px;
        font-family: 'rubik-bold';
        margin-top: 40vh;
    }

    
    

    
    
    .a{
      animation: move 12s  ease-in;
    }
    .b{
      animation: move 10.5s  ease-in;
    }
    .c{
      animation: move 11s  ease-in;
    }
    .d{
      animation: move 11.5s  ease-in;
    }
    .e{
      animation: move 12s  ease-in;
    }
    .f{
      animation: move 12.5s  ease-in;
    }
    .g{
      animation: move 12s  ease-in;
    }
    .h{
      animation: move 13.5s  ease-in;
    }
    .i{
      animation: move 14s  ease-in;
    }
    .j{
      animation: move 14.5s  ease-in;
    }
    .k{
      animation: move 15s  ease-in;
    }
    .l{
      animation: move 15.5s  ease-in;
    }
    .m{
      animation: move 16s  ease-in;
    }
    .n{
      animation: move 16.5s  ease-in;
    }
    .o{
      animation: move 17s  ease-in;
    }
    .p{
      animation: move 17.5s  ease-in;
    }
    .q{
      animation: move 18s  ease-in;
    }
    .r{
      animation: move 18.5s  ease-in;
    }
    .s{
      animation: move 19s  ease-in;
    }
    .t{
      animation: move 19.5s  ease-in;
    }
    
  @keyframes move {
      0%
      {
        width: 200px;
      }
      2%
      {
        width: 190px;
      }
      6%{
        width: 180px;
      }
      12%
      {
        width: 170px;
      }
      16%
      {
        width: 160px;
      }
      20%
      {
        width: 150px;
      }
      22%{
        width: 140px;
      }
      23%{
        width: 130px;
      }
      25%
      { 
        width: 120px;
      }
      28%{
        width: 110px;
      }
      32%{
        width: 100px;
      }
      34%{
        width: 110px;
      }
      36%{
        width: 120px;
      }
      39%{
        width: 130px;
      }41%{
        width: 140px;
      }43%{
        width: 150px;
      }44%{
        width: 160px;
      }45%{
        width: 170px;
      }46%{
        width: 180px;
      }48%{
        width: 190px;
      }50%{
        width: 200px;
        transform: rotate(90deg);
        box-shadow: white 2px 2px 2px 2px;
      }
      55%
      {
        width: 190px;
      }
      60%
      {
        width: 180px;
      }
      65%{
        width: 170px;
      }
      70%
      {
        width: 160px;
      }
      72%
      {
        width: 150px;

      }
      74%
      {
        width: 140px;
      }
      76%{
        width: 130px;
      }
      77%{
        width: 120px;
      }
      79%
      { 
        width: 110px;
      }
      80%{
        width: 100px;
      }
      82%{
        width: 90px;
      }
      84%{
        width: 80px;
      }
      86%{
        width: 70px;
      }
      88%{
        width: 90px;
      }90%{
        width: 110px;
      }92%{
        width: 130px;
      }93%{
        width: 150px;
      }95%{
        width: 170px;
      }98%{
        width: 180px;
      }100%{
        width: 200px;
        transform-style:preserve-3d;
        animation-fill-mode: forwards;
      }
    }






/*     @keyframes move {
      0%
      {
        width: 200px;
      }
      5%
      {
        width: 190px;
      }
      10%{
        width: 180px;
      }
      15%
      {
        width: 170px;
      }
      20%
      {
        width: 160px;
      }
      25%
      {
        width: 150px;
      }
      30%{
        width: 140px;
      }
      35%{
        width: 130px;
      }
      40%
      { 
        width: 120px;
      }
      45%{
        width: 110px;
      }
      50%{
        width: 100px;
      }
      55%{
        width: 110px;
      }
      60%{
        width: 120px;
      }
      65%{
        width: 130px;
      }70%{
        width: 140px;
      }75%{
        width: 150px;
      }80%{
        width: 160px;
      }85%{
        width: 170px;
      }90%{
        width: 180px;
      }95%{
        width: 190px;
      }100%{
        width: 200px;
      } */




    

.animletters{
  margin-top: 5rem;
}

    span {
      display: inline-block;
    }


/* animation des span PORTFOLIO */

html {
  text-align: center;
}

#letters {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #222222;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-size: 120px;
}


@media screen and (max-width: 720px) {
  #portfolio{
    width: 500px;
    display: grid;
  }
  #letters{
    padding: 20px;
  }
}

@media screen and (max-width:720px) {
  .inwrapa, .inwrapb{
    display: none;
  }
  .wrapper{
    grid-template-columns: 1fr;
  }
  .bloc {
    display: none;
  }
}

.br{
  display: none;
}

#portfolio{
  margin-top: 15%;
  font-weight: 400;
  font-family: 'Rubik-Bold';
  box-sizing: border-box;
  letter-spacing: 6px;
  margin: 0;
  line-height: 1.2;
}


a span {
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
a span:nth-child(0n) {
  transition-delay: 0ms;
}
a span:nth-child(0n):after {
  transition-delay: 0ms;
}
a span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(3n) {
  transition-delay: 250ms;
}
a span:nth-child(3n):after {
  transition-delay: 250ms;
}
a span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  height: 2em;
  background: #222222;
  transform-origin: top center;
  transform: scaley(0.1);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
a:hover span {
  transform: translateY(-1em);
}
a:hover span:after {
  transform: scaleY(1);
}
a:active span {
  transform: translateY(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
a:active span:after {
  transform: scaleY(0.5);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}/*# sourceMappingURL=animtitle.css.map */



