@font-face {
  font-family: 'rubik';
  src: url('Rubik-Bold.ttf');
}


body {

  color: #FFF;
  background: #222222;
}

svg {
  width: 90vw;
  height: auto;
  background-color: transparent;
}

#control-point {
  cursor: grab;
}

#control-point:active {
  cursor: grabbing;
}

.coordinates {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  display: none;
}

@media screen and (max-width:720px) {
  .elast{
    margin-top: 170px;
    margin-left: -90px;
  }
}


.cf{
color: white;
display: flex;
justify-content: center;
margin-top: 20vh;
font-family: 'rubik';

}



#decoration{
  margin-top: -300px;
margin-left: 100px;
}

input, textarea{
  width: 300px;
}


.btnback{
  text-decoration: none;
}

.btnback button{
  background-color: white;
  color: rgb(0, 0, 0);
  margin-top: 2vh;
  margin-left: 1vw;
  border-radius: 15px;
  width: 150px;
}

.btnback button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);


}