 
  @keyframes move {
    0%
    {
      width: 200px;

      
    }
    2%
    {
      width: 190px;
    }
    6%{
      width: 180px;
    }
    34%{
      width: 110px;
    }
    36%{
      width: 120px;
    }
    39%{
      width: 130px;
    }41%{
      width: 140px;
    }43%{
      width: 150px;
    }44%{
      width: 160px;
    }45%{
      width: 170px;
    }46%{
      width: 180px;
    }
    50%{
        width: 200px;
        transform-style:preserve-3d;
        animation-fill-mode: forwards;
        transform: rotate(90deg);
    }
    72%
    {
      width: 150px;
      transform: rotate(90deg);
      box-shadow: white 2px 2px 2px 2px;
    }
    74%
    {
      width: 140px;
    }
    76%{
      width: 130px;
    }
    77%{
      width: 120px;
    }88%{
      width: 170px;
    }98%{
      width: 180px;
    }100%{
        width: 200px;
    }
  }