html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #161616;
    overflow: hidden;
    cursor: crosshair;
}


html{
    animation: contactslider 2s ease;
  }
  
  
  @keyframes contactslider {
    0%{
      margin-left: -5000px;
    }100%{
      margin-left: 0px;
    }
  }

.block {
    position: relative;
    width: 20vw;
    height: 50vh;
    margin: 10px 300px 20px 80px;
    cursor: pointer;
}


.table{
    display: grid;
    grid-template-columns: 1fr;
    width: 140px;
}




#logo{
    width: 120px;
    margin-top: 10vh;
    margin-left: 7vw;

}

h1 {
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 44px;
}







@media screen and (max-width:720px) {
    

    h1{
        font-size: 34px;
    }




        #logo{
            width: 120px;
            margin-top: 15vh;
            margin-left: 14vw;
        }

}







.block-1 {

    border: white 1px solid;

}

.thumbnail{
    background: no-repeat 50% 50%;
    background-size: contain;
}

.block-1:hover{
transform: scale(1.1);
transition: 0.5s;
border-radius: 50px;


}

.block-1:not(:hover){
    transition: 1s;
}


@media screen and (max-width:720px) {
        .block{
            width: 50vw;

        }
        .block-3{
            width: 20vw;
            height: 20vh;
        }
}




/* .block-3 {
    background: url(ariannewhite.svg) no-repeat 50% 50%;
    border: white 1px solid;
    background-size: contain;
    padding: 80px;
    width: 300px;
    height: 300px;
}

.block-3:hover{
    transform: scale(0.8);
    transition: 1s;
    border-radius: 50px;
    }
    
    .block-3:not(:hover){
        transition: 1s;
    }



.block-2 {
    background: url(nowherblanc.svg) no-repeat 50% 50%;
    border: white 1px solid;
    background-size: contain;
}

.block-2:hover{
    transform: scale(0.8);
    transition: 1s;
    border-radius: 50px;
    }
    
.block-2:not(:hover){
        transition: 1s;
}

.block-4 {
    background: url(img-four.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url(img-five.jpeg) no-repeat 50% 50%;
    background-size: cover;
} */

.container {
    margin-top: 25vh;
    margin-left: 200px;
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
    bottom: 0;
    right: -60px;
}

.block-2 h1,
.block-4 h1 {
    right: -60px;
}


.btnback{
    text-decoration: none;
}

.btnback button{
    background-color: white;
    color: rgb(0, 0, 0);
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
}

.btnback button:hover{
    background-color: #222222;
    color: rgb(255, 255, 255);
    transition: 1s;
}

.btnback button:not(:hover){

    transition: 1s;
}

a{
    text-decoration: none;
}
h1{
    color: white;
}